body {
      /*background-color: #97C9C2;*/
            /*background: rgba(210,210,219,0.5)*/
            background-image: url("packardave.JPG");
            background-size: cover;
}
#topbar{
      text-align: center;
      font-family: 'Lato',sans-serif;
      font-size: 20pt;
}
.title{
        font-family: 'Lato',sans-serif;
        text-align: left;
        color: white;
}

/*
#event{
      text-align: center;
      background-color: #D2D2DB;
      position:absolute;
      width: 500px;
      height: 200px;
      z-index: 15;
      top: 25%;
      left: 50%;
      margin: -100px 0 0 -150px;
      padding-bottom: 2%;
      font-family: 'Roboto', sans-serif;
      background-color: rgba(0,0,0,0);

}
*/

.event{
        font-family: 'Lato',sans-serif;
        margin-bottom: 5px;
        width: 500px;
        height: 200px;
}
#timeContainer{
      /*padding-top: 23%;*/
      padding-left: 10px;
      float: left;
      width: 23%;
      color: #3A3335;
      height: 100%;
      top: 50%;
      background: rgba(210,210,219,0.75);
      border-radius: 25px 1px 1px 25px;


}
#eventInfoContainer{

      padding-left: 10px;
      height: 100%;
      float: right;
      width: 73%;
      background: rgba(210,210,219,0.6);
      border-radius: 1px 25px 25px 1px;
}
#name{
      width:100%;
      font-weight: 300i;
}
#host{
      width: 100%;
}
#description{
      width: 100%;
}
a{
      color: #6B2413;
}
